<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/svg/LogoWhite.min.svg" type="image/x-icon">
    <title>Signin</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="reg">
        <div class="img"></div>
        <div class="register">
            <div class="arrow-back">
                <svg class="arrow-svg" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.414.586a2 2 0 00-2.828 0L.858 13.314a2 2 0 102.828 2.828L15 4.828l11.314 11.314a2 2 0 102.828-2.828L16.414.586zM17 52V2h-4v50h4z"/></svg>
            </div>
            <h1>Signin</h1>
            <form action="#" method="POST" id="auth">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Test@mail.ru">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" id="sub">Signin</button>
            </form>
        </div>
    </div>


    <script type="module" src="../js/auth.js"></script>
</body>

</html>